<p id="notice"><%= notice %></p>

<h1>T W E R K</h1>
<div class="table">
<table>
	<thead>
		<tr>
			<th class="col-sm-6">Say What?</th>
			<th class="col-sm-6">User</th>
			
		</tr>
	</thead>
	<tbody>
		<% @twerks.each do |twerk| %>
		<tr>
			<td class="col-sm-6"><%= twerk.message %></td>
			<td ><%= link_to twerk.user.username, profile_path(twerk.user.id) %></td>
			<td><%= link_to "<span class=\"glyphicon glyphicon-search\"></span>".html_safe, twerk %></td>
			<td><%= link_to "<span class=\"glyphicon glyphicon-pencil\"></span>".html_safe, edit_twerk_path(twerk) %></td>
			<td><%= link_to "<span class=\"glyphicon glyphicon-trash\"></span>".html_safe, twerk, method: :delete, data: {confirm: 'Are you sure?'} %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
<br>
<span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
